.results {
  &__title {
    @include fluid-text(32,24);
    text-align: center;
    font-family: var(--font-family-accent),sans-serif;
  }

  &__score {
    @include fluid-text(22,18);
    color: var(--color-light);
    text-align: center;
    font-family: var(--font-family-base),sans-serif;
  }

  &__image {
    max-width: 100%;
    aspect-ratio: 1;
    padding-bottom: 10px;
  }
}